# Async HTTP and Web Frameworks
aiohttp
aiojenkins
quart>=0.19,<1.0

# Logging
betterlogging

# Environment variables
environs~=9.0
python-dotenv

# PostgreSQL + SQLAlchemy async
SQLAlchemy~=2.0.20
sqlalchemy-stubs~=0.4
asyncpg

#Github
PyGithub==2.5.0