.test-file-list, 
.test-file-drop-area {
    width: 95%;
    max-width: 1000px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.test-file-list {
  min-height: 50px;
}

.test-file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
    cursor: pointer;
}

.test-file-item:last-child {
    border-bottom: none;
}

.test-file-item:hover {
    background-color: #f9f9f9;
}

.test-file-drop-area {
    border: 2px dashed #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: 2px dashed #ccc;
    height: 100px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.test-file-drop-area:hover {
    border-color: #999;
    background-color: #f8f8f8;
    cursor: pointer;
}

.test-file-drop-area.active {
    border-color: #666;
    background-color: #f0f0f0;
}

footer {
    text-align: center;
    padding: 0.5rem 0;
    background-color: #34495e;
    color: white;
    font-size: 0.8rem;
}

.test-file-icon {
    margin-right: 5px;
    font-size: 1.5em;
    color: #002070;
}

.test-file-input {
    display: none;
}

.test-file-preferences {
    cursor: pointer;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 10px;
}

.test-file-modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.test-file-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: auto;
    position: relative;
    box-sizing: border-box;
    max-height: 90vh;
    overflow-y: auto;
}

.test-file-modal-content {
    color: #aaa;
    float: right;
    width: auto;
    font-size: 28px;
}

.test-file-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.test-file-modal-close:hover,
.test-file-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#test-file-modal-pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  background: white;
}

.test-file-status {
    font-size: 16px;
    min-width: 80px;
    text-align: center;
    text-transform: capitalize; 
}

.test-file-status.included {
    color: #006400;
}

.test-file-status.excluded {
    color: #880808;
}

.test-file-item {
    display: flex;
    height: 50px;
    font-size: 16px;
}

.test-file-name {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 900px) {
    .test-file-modal-content {
        width: 100%;
        max-width: 100%;
        height: auto; 
        max-height: 100%;
        padding: 0; 
        border: none; 
        border-radius: 0;
        font-size: 20px;
    }

    .test-file-preferences {
        padding-left: 10px;
    }
}

